language:
  python

python:
  - '3.6'
  - '3.5'
  - '3.4'

services:
  - postgresql

install:
  - pip install -r requirements.txt
  - travis_wait mvn install

before_script:
  - psql -c 'create database hb_test_db;' -U postgres

script: 
  - nosetests --with-coverage --cover-package=app

after_success:
  - coveralls